HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.mvn/wrapper/maven-wrapper.properties
src/main/resources/static/upload/driver_photo_file_1.gif
src/main/resources/static/upload/driver_photo_file_1.png
src/main/resources/static/upload/driver_photo_file_10.gif
src/main/resources/static/upload/driver_photo_file_11.gif
src/main/resources/static/upload/driver_photo_file_13.gif
src/main/resources/static/upload/driver_photo_file_14.gif
src/main/resources/static/upload/driver_photo_file_15.gif
src/main/resources/static/upload/driver_photo_file_16.png
src/main/resources/static/upload/driver_photo_file_4.png
src/main/resources/static/upload/driver_photo_file_5.png
src/main/resources/static/upload/driver_photo_file_6.png
src/main/resources/static/upload/driver_photo_file_7.png
src/main/resources/static/upload/driver_photo_file_8.png
src/main/resources/static/upload/driver_photo_name_12.png
src/main/resources/static/upload/driver_taxi_license_photo_file_1.gif
src/main/resources/static/upload/driver_taxi_license_photo_file_1.pdf
src/main/resources/static/upload/driver_taxi_license_photo_file_1.png
src/main/resources/static/upload/driver_taxi_license_photo_file_10.png
src/main/resources/static/upload/driver_taxi_license_photo_file_11.png
src/main/resources/static/upload/driver_taxi_license_photo_file_12.png
src/main/resources/static/upload/driver_taxi_license_photo_file_13.png
src/main/resources/static/upload/driver_taxi_license_photo_file_14.gif
src/main/resources/static/upload/driver_taxi_license_photo_file_15.gif
src/main/resources/static/upload/driver_taxi_license_photo_file_16.png
src/main/resources/static/upload/driver_taxi_license_photo_file_4.png
src/main/resources/static/upload/driver_taxi_license_photo_file_5.png
src/main/resources/static/upload/driver_taxi_license_photo_file_6.png
src/main/resources/static/upload/driver_taxi_license_photo_file_7.png
src/main/resources/static/upload/driver_taxi_license_photo_file_8.png
src/main/resources/static/upload/driver_taxi_license_photo_name_1.png
src/main/resources/static/upload/driver_taxi_license_photo_name_12.png
