<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my.cab.dao.AccidentDAO">

    <select id="getAccidentList" parameterType="search" resultType="accident">
        SELECT a.accident_history_idx AS accident_history_idx,
        d.driver_name AS accident_history_driver_name,
        a.accident_history_accident_date AS accident_history_accident_date,
        a.accident_history_description AS accident_history_description,
        a.accident_history_location AS accident_history_location
        FROM accident_history a
        JOIN driver d ON d.driver_idx = a.accident_history_driver_id
        <where>
            a.accident_history_taxi_idx = #{searchIdx}
            <if test="category != null and category != ''">
                <choose>
                    <when test="searchText != null and searchText != '' and category == 'accident_history_location'">
                        AND a.accident_history_location LIKE CONCAT('%', #{searchText}, '%')
                    </when>
                    <when test="searchText != null and searchText != '' and category == 'accident_history_description'">
                        AND a.accident_history_description LIKE CONCAT('%', #{searchText}, '%')
                    </when>
                    <when test="searchText != null and searchText != '' and category == 'accident_history_driver_name'">
                        AND d.driver_name LIKE CONCAT('%', #{searchText}, '%')
                    </when>
                </choose>
            </if>
            <if test="filterStartDate != null and filterStartDate != '' and filterEndDate != null and filterEndDate != ''">
                AND a.accident_history_accident_date BETWEEN #{filterStartDate} AND #{filterEndDate}
            </if>
        </where>
        <choose>
            <when test="sortColumn != null and sortColumn == 'accident-history-date'">
                ORDER BY a.accident_history_accident_date
            </when>
            <when test="sortColumn != null and sortColumn == 'accident-history-address'">
                ORDER BY a.accident_history_location
            </when>
            <when test="sortColumn != null and sortColumn == 'accident-history-description'">
                ORDER BY a.accident_history_description
            </when>
            <when test="sortColumn != null and sortColumn == 'accident-history-driver-name'">
                ORDER BY d.driver_name
            </when>
            <otherwise>
                ORDER BY a.accident_history_accident_date
            </otherwise>
        </choose>
        <choose>
            <when test="sortOrder != null and sortOrder == 'desc'">
                DESC
            </when>
            <when test="sortOrder != null and sortOrder == 'asc'">
                ASC
            </when>
        </choose>
        <if test="page != null">
            LIMIT #{pageSize} OFFSET #{page}
        </if>
    </select>

    <select id="getAccidentCount" parameterType="search" resultType="int">
        SELECT COUNT(a.accident_history_idx)
        FROM accident_history a
        JOIN driver d ON d.driver_idx = a.accident_history_driver_id
        <where>
            a.accident_history_taxi_idx = #{searchIdx}
            <if test="category != null and category != ''">
                <choose>
                    <when test="searchText != null and searchText != '' and category == 'accident_history_location'">
                        AND a.accident_history_location LIKE CONCAT('%', #{searchText}, '%')
                    </when>
                    <when test="searchText != null and searchText != '' and category == 'accident_history_description'">
                        AND a.accident_history_description LIKE CONCAT('%', #{searchText}, '%')
                    </when>
                    <when test="searchText != null and searchText != '' and category == 'accident_history_driver_name'">
                        AND d.driver_name LIKE CONCAT('%', #{searchText}, '%')
                    </when>
                </choose>
            </if>
            <if test="filterStartDate != null and filterStartDate != '' and filterEndDate != null and filterEndDate != ''">
                AND a.accident_history_accident_date BETWEEN #{filterStartDate} AND #{filterEndDate}
            </if>
        </where>
    </select>

    <select id="getAccidentFirstDate" resultType="String">
        SELECT accident_history_accident_date
        FROM accident_history
        WHERE accident_history_taxi_idx = #{param1}
        ORDER BY accident_history_accident_date ASC
        LIMIT 1
    </select>

</mapper>
