<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.my.cab.dao.ApprovalDAO">
	<select id="approvalWriteList" resultType="ApprovalWriteFrom">
	SELECT approval_doc_type_item_idx, approval_doc_type_item_name, approval_doc_type_item_type FROM tb_approval_doc_type_item;
	</select>
    
    <insert id="save" parameterType="com.my.cab.dto.ApprovalDocDTO">
        INSERT INTO tb_doc_item_file (appr_file_path)
        VALUES (#{appr_file_path})
    </insert>
   
</mapper>