<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.my.cab.dao.ApprovalDAO">
    
    <!-- 결재 문서 첨부파일 경로 저장 -->
    <insert id="saveAttachedFilePath" parameterType="com.my.cab.dto.DocumentDTO">
        INSERT INTO tb_doc_item_file (appr_file_path)
        VALUES (#{appr_file_path})
    </insert>
    
    <!-- 결재 문서 전체 저장 -->
    <insert id="saveApprovalDoc"
    	useGeneratedKeys="true"
    	keyColumn="approval_doc_idx"
    	keyProperty="approval_doc_idx"
    	parameterType="com.my.cab.dto.ApprovalDocDTO">
        INSERT INTO tb_approval_doc (approval_doc_path, approval_doc_write_date, approval_doc_title, approval_doc_assist_user, approval_doc_isFinal,approval_doc_id)
        VALUES (#{approval_doc_path}, #{approval_doc_write_date}, #{approval_doc_title}, #{approval_doc_assist_user}, #{approval_doc_isFinal},#{approval_doc_id})
    </insert>
    
    <!-- 결재라인, 중간, 최종결재자 저장 -->
    <insert id="saveApproval" parameterType="com.my.cab.dto.ApprovalDTO">
        INSERT INTO tb_approval (approval_doc_idx, appr_midapprover, appr_finalapprover)
        VALUES (#{approval_doc_idx}, #{appr_midapprover}, #{appr_finalapprover})
    </insert>
    
    <!-- 결재자 모달창 결재자 리스트 비동기(ajax) 조회 -->
    <select id="getAllEmployees" resultType="com.my.cab.dto.EmpDTO">
        SELECT e.emp_no, e.emp_name, t.title_name, d.dept_name, e.emp_employment_status
        FROM employee e
        JOIN department d ON e.dept_no = d.dept_no
        JOIN title t ON e.title_no = t.title_no
    </select>
    
    <!-- 결재자 모달창 결재자 리스트 비동기(ajax) 검색 -->
    <select id="searchEmployees" resultType="com.my.cab.dto.EmpDTO">
        SELECT e.emp_no, e.emp_name, t.title_name, d.dept_name, e.emp_employment_status
        FROM employee e
        JOIN department d ON e.dept_no = d.dept_no
        JOIN title t ON e.title_no = t.title_no
        WHERE e.emp_name LIKE CONCAT('%', #{search}, '%')
         OR t.title_name LIKE CONCAT('%', #{search}, '%')
         OR d.dept_name LIKE CONCAT('%', #{search}, '%')
    </select>
    
    <!-- 결재라인 리스트 조회 -->
    <select id="selectApprovalLines" parameterType="ApprovalLineList" resultType="map">
        SELECT appr_line_bkmk_idx, appr_line_bkmk_name
        FROM tb_approval_doc_line_bkmk
        WHERE appr_line_bkmk_name LIKE CONCAT('%', #{searchLine}, '%')
    </select>
    
    <!--  결재라인에 맞는 중간결재자, 최종결재자 조회 -->
    <select id="selectApproverDetails" parameterType="ApprovalLineList" resultType="map">
	    SELECT appr_midapprover, appr_finalapprover
	    FROM tb_approval_doc_line_bkmk
	    WHERE appr_line_bkmk_idx = #{lineId}
	</select>
	
	<!-- 결재자들 데이터 불러오기 -->
	    <select id="getApprovalData" resultType="com.my.cab.dto.ApprovalDocDTO">
        SELECT 
            d.approval_doc_idx,
            d.approval_doc_write_date,
            d.approval_doc_title,
            d.approval_doc_id,
            a.appr_midapprover,
            a.appr_finalapprover,
            a.appr_mngr_updt,
            d.approval_doc__state,
            d.approval_doc_path
        FROM 
            tb_approval a
        JOIN 
            tb_approval_doc d ON a.approval_doc_idx = d.approval_doc_idx;
    </select>
    
    <!-- 서명 이미지 경로 저장 -->
    <insert id="saveSignature" parameterType="com.my.cab.dto.DocumentDTO">
        INSERT INTO tb_doc_item_file (appr_file_name, appr_file_path, appr_file_type)
        VALUES (#{appr_file_name}, #{appr_file_path}, #{appr_file_type})
    </insert>

    <!-- 서명 이미지 경로 업데이트 -->
    <update id="updateSignature" parameterType="com.my.cab.dto.DocumentDTO">
        UPDATE tb_doc_item_file 
        SET appr_file_path = #{appr_file_path}, appr_file_dt = CURRENT_TIMESTAMP 
        WHERE appr_file_name = #{appr_file_name}
    </update>
    
    <!-- 서명 이미지 존재 여부 확인 -->
    <select id="isSignatureExist" parameterType="string" resultType="int">
        SELECT COUNT(*) 
        FROM tb_doc_item_file 
        WHERE appr_file_name = #{fileName}
    </select>
    
    <!-- 서명 이미지 경로 조회 -->
    <select id="getSignaturePath" parameterType="string" resultType="string">
        SELECT appr_file_path 
        FROM tb_doc_item_file 
        WHERE appr_file_name = #{fileName}
    </select>
    <!-- 결재 리스트 필터링 값 불러오기( 나랑 연관된 문서들만 ) -->
    <select id="getFilteredApprovalData" parameterType="string" resultType="com.my.cab.dto.ApprovalDocDTO">
        SELECT ad.*, 
               a.appr_midapprover,
               a.appr_finalapprover
        FROM tb_approval_doc ad
        JOIN tb_approval a ON ad.approval_doc_idx = a.approval_doc_idx
        WHERE ad.approval_doc_id = #{loginId} 
        OR a.appr_midapprover = (
            SELECT CONCAT(e.emp_name, ' ', t.title_name)
            FROM employee e
            JOIN title t ON e.title_no = t.title_no
            WHERE e.emp_no = #{loginId}
        ) 
        OR a.appr_finalapprover = (
            SELECT CONCAT(e.emp_name, ' ', t.title_name)
            FROM employee e
            JOIN title t ON e.title_no = t.title_no
            WHERE e.emp_no = #{loginId}
        )
    </select>

</mapper>