<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>


<!-- @Alias("att")  -->
<mapper namespace="com.my.cab.dao.AttendanceDAO">

	<select id="attHistoryListCall" resultType="att">
	SELECT attendance_idx, att_time, leave_time, att_result, work_day
	FROM attendance
	WHERE emp_no = #{emp_no}
	</select>


</mapper>