<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.my.cab.dao.CalendarDAO">

	<select id="calListCall" resultType="map">
		SELECT s.*,d.dept_name
		FROM schedule s
		INNER JOIN employee e ON s.schedule_emp_no = e.emp_no
		INNER JOIN department d ON e.dept_no = d.dept_no
		WHERE e.dept_no = d.dept_no
	</select>
	
	<select id="dayCalListCall" resultType="map">
		SELECT * FROM schedule WHERE schedule_start_date LIKE CONCAT('%',#{param1},'%')
	</select>
	
	<insert id="createSchedule" parameterType="calendarDTO">
		INSERT INTO schedule 
    (schedule_name, schedule_content, schedule_start_date, schedule_end_date, schedule_emp_no, schedule_category, schedule_color,schedule_dept_name)
	SELECT 
	    #{schedule_name}, 
	    #{schedule_content}, 
	    #{schedule_start_date}, 
	    #{schedule_end_date}, 
	    #{schedule_emp_no}, 
	    #{schedule_category}, 
	    #{schedule_color}, 
	    d.dept_name
	FROM 
	    employee e
	JOIN 
	    department d ON e.dept_no = d.dept_no
	WHERE 
	    e.emp_no = #{schedule_emp_no};
	</insert>
	
	<select id="calendarDetail" resultType="calendarDTO">
		SELECT * FROM schedule WHERE schedule_idx = #{param1}
	</select>
	
	<update id="deleteSchedule">
		UPDATE schedule SET schedule_del ='1' WHERE schedule_idx= #{param1}
	</update>
	
	<update id="editSchedule" parameterType="calendarDTO">
		UPDATE schedule SET schedule_name = #{schedule_name},
		schedule_content = #{schedule_content},schedule_start_date = #{schedule_start_date},
		schedule_end_date = #{schedule_end_date},schedule_edit_date =#{schedule_edit_date},
		schedule_editor= #{schedule_editor},schedule_category =#{schedule_category},
		schedule_color = #{schedule_color} WHERE schedule_idx = #{schedule_idx}
		
	</update>

</mapper>