<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.my.cab.dao.CalendarDAO">

	<select id="calListCall" resultType="map">
		SELECT s.*
		FROM schedule s
		INNER JOIN employee e ON #{param1} = e.emp_no
		INNER JOIN department d ON e.dept_no = d.dept_no
		WHERE s.schedule_del ='0' AND s.schedule_cal_idx is NULL AND
			(s.schedule_category = '전사' OR (s.schedule_category = '개인' AND s.schedule_emp_no = #{param1} )
			OR(s.schedule_category = '부서' AND s.schedule_dept_no = d.dept_no))
	</select>
	
	<select id="dayCalListCall" resultType="map">
		SELECT * FROM schedule WHERE schedule_start_date LIKE CONCAT('%',#{param1},'%')
	</select>
	
	<insert id="createSchedule" parameterType="calendarDTO">
		INSERT INTO schedule 
    (schedule_name, schedule_content, schedule_start_date, schedule_end_date, schedule_emp_no, schedule_category, schedule_color,schedule_dept_no)
	SELECT 
	    #{schedule_name}, 
	    #{schedule_content}, 
	    #{schedule_start_date}, 
	    #{schedule_end_date}, 
	    #{schedule_emp_no}, 
	    #{schedule_category}, 
	    #{schedule_color}, 
	    d.dept_no
	FROM 
	    employee e
	JOIN 
	    department d ON e.dept_no = d.dept_no
	WHERE 
	    e.emp_no = #{schedule_emp_no}
	</insert>
	
	<select id="calendarDetail" resultType="calendarDTO">
		SELECT s.*, e.emp_name as sechdule_emp_name , e.emp_email as schedule_emp_email, e.emp_extension_number as schedule_emp_extension_number,d.dept_name as schedule_dept_name
			FROM schedule s
			inner join employee e on s.schedule_emp_no = e.emp_no
			inner join department d on e.dept_no =d.dept_no 
			WHERE schedule_idx = #{param1}
	</select>
	
	<update id="deleteSchedule">
		UPDATE schedule SET schedule_del ='1' WHERE schedule_idx= #{param1}
	</update>
	
	<update id="editSchedule" parameterType="calendarDTO">
		UPDATE schedule SET schedule_name = #{schedule_name},
		schedule_content = #{schedule_content},schedule_start_date = #{schedule_start_date},
		schedule_end_date = #{schedule_end_date},schedule_edit_date =#{schedule_edit_date},
		schedule_editor= #{schedule_editor},schedule_category =#{schedule_category},
		schedule_color = #{schedule_color} WHERE schedule_idx = #{schedule_idx}
		
	</update>
	
	<select id="getEmpInfo" resultType="emp">
		select e.emp_no,e.emp_name,e.emp_email,e.emp_extension_number,e.emp_level,d.dept_name,t.title_name from employee e 
		INNER JOIN department d on e.dept_no = d.dept_no 
		INNER JOIN title t on e.title_no = t.title_no order by t.title_no asc
	</select>
	
	<select id="getDeptInfo" resultType="String">
		SELECT dept_name FROM department
	</select>
	
	<insert id="createShareCalendar"
		parameterType="calendarDTO"
		useGeneratedKeys="true"
		keyColumn="calendar_idx"
		keyProperty="calendar_idx"
	>
		INSERT INTO calendar (calendar_emp_no,calendar_name,calendar_category,calendar_color) VALUES (#{calendar_emp_no},#{calendar_name},#{calendar_category},#{calendar_color})
	
	</insert>
	
	<insert id="createSharedSchedule" parameterType="map">
			INSERT INTO share_calendar (share_cal_idx,shared_emp_no)
			VALUES
			<foreach collection="list" item="item" separator=",">
				(#{idx},#{item.empNo})
			</foreach>
	</insert>
	
	<select id="getShareCalInfo" parameterType="calendarDTO">
		SELECT * FROM calendar
	</select>
	
	<insert id="createShareSchedule">
		INSERT INTO schedule 
	    (schedule_name, schedule_content, schedule_start_date, schedule_end_date, schedule_emp_no, schedule_category, schedule_color,schedule_dept_no,schedule_cal_idx)
		SELECT 
		    #{schedule_name}, 
		    #{schedule_content}, 
		    #{schedule_start_date}, 
		    #{schedule_end_date}, 
		    #{schedule_emp_no}, 
		    '공유일정', 
		    #{schedule_color}, 
		    d.dept_no,
		    #{calendar_idx}
		FROM 
		    employee e
		JOIN 
		    department d ON e.dept_no = d.dept_no
		WHERE 
		    e.emp_no = #{schedule_emp_no}
	</insert>
	
	<select id="shareCalListCall" resultType="calendarDTO">
		SELECT * FROM schedule s 
		INNER JOIN share_calendar sc  ON sc.share_cal_idx = s.schedule_cal_idx
		INNER JOIN calendar cal ON cal.calendar_idx = s.schedule_cal_idx 
		WHERE sc.shared_emp_no = #{param1}
		GROUP BY shared_emp_no 
	</select>

</mapper>