<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.my.cab.dao.CalendarDAO">

	<select id="calListCall" resultType="map">
		SELECT * FROM schedule
	</select>
	
	<select id="dayCalListCall" resultType="map">
		SELECT * FROM schedule WHERE schedule_start_date LIKE CONCAT('%',#{param1},'%')
	</select>

</mapper>