<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>


<!-- @Alias(value="emp") -->
<mapper namespace="com.my.cab.dao.EmpDAO">

	<insert id="empJoin" parameterType="emp">
		INSERT INTO employee (
        emp_no,
        dept_no,
        title_no,
        emp_password,
        emp_name,
        emp_email,
        emp_employment_status,
        emp_add,
        emp_extension_number,
        emp_bday,
        emp_level
    ) VALUES (
        #{emp_no},
        #{dept_no},
        #{title_no},
        #{emp_password},
        #{emp_name},
        #{emp_email},
        #{emp_employment_status},
        #{emp_add},
        #{emp_extension_number},
        #{emp_bday},
        #{emp_level}
    )
	</insert>
	
	<insert id="accJoin" parameterType="emp">
		INSERT INTO account(acc_no,emp_no,bank_name,acc_name) 
		VALUES (#{acc_no},#{emp_no},#{bank_name},#{acc_name})
	</insert>
	
	<select id="overlay" resultType="int">
		select count(emp_email) from employee where emp_email = #{param1}
   </select>
   
    <select id="getLastEmpNo" resultType="int" parameterType="int">
        SELECT COALESCE(MAX(SUBSTRING(emp_no, 2)), 0) AS latestEmpNo
        FROM employee
        WHERE SUBSTRING(emp_no, 1, 1) = #{deptNo}
    </select>



</mapper>