<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<!DOCTYPE mapper PUBLIC    "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
        >


<!-- @Alias(value="emp") -->
<mapper namespace="com.my.cab.dao.EmpDAO">

    <insert id="empJoin" parameterType="emp">
        INSERT INTO employee (emp_no,
                              dept_no,
                              title_no,
                              emp_password,
                              emp_name,
                              emp_email,
                              emp_employment_status,
                              emp_add,
                              emp_extension_number,
                              emp_bday,
                              emp_level)
        VALUES (#{emp_no},
                #{dept_no},
                #{title_no},
                #{emp_password},
                #{emp_name},
                #{emp_email},
                #{emp_employment_status},
                #{emp_add},
                #{emp_extension_number},
                #{emp_bday},
                #{emp_level})
    </insert>

    <insert id="accJoin" parameterType="emp">
        INSERT INTO account(acc_no, emp_no, bank_name, acc_name)
        VALUES (#{acc_no}, #{emp_no}, #{bank_name}, #{acc_name})
    </insert>

    <insert id="vacJojn" parameterType="emp">
        INSERT INTO vacation(emp_no, vac_left, vac_add)
        VALUES (#{emp_no}, 0, 0)
    </insert>

    <select id="overlay" resultType="int">
        select count(emp_email)
        from employee
        where emp_email = #{param1}
    </select>

    <select id="getLastEmpNo" resultType="int" parameterType="int">
        SELECT COALESCE(MAX(SUBSTRING(emp_no, 2)), 0) AS latestEmpNo
        FROM employee
        WHERE SUBSTRING(emp_no, 1, 1) = #{deptNo}
    </select>

    <select id="getEmpList" resultType="emp" parameterType="search">
        SELECT e.emp_no, e.emp_name, t.title_name, d.dept_name, e.emp_employment_status
        FROM employee e
        JOIN department d ON e.dept_no = d.dept_no
        JOIN title t ON e.title_no = t.title_no
        <where>
            <if test="filterForSearch != null and filterForSearch != ''">
                <choose>
                    <when test="filterForSearch == 'emp_no'">
                        e.emp_no LIKE CONCAT('%', #{searchText}, '%')
                    </when>
                    <when test="filterForSearch == 'emp_name'">
                        e.emp_name LIKE CONCAT('%', #{searchText}, '%')
                    </when>
                    <when test="filterForSearch == 'title_name'">
                        t.title_name LIKE CONCAT('%', #{searchText}, '%')
                    </when>
                    <when test="filterForSearch == 'dept_name'">
                        d.dept_name LIKE CONCAT('%', #{searchText}, '%')
                    </when>
                </choose>
            </if>
            <if test="filterIsRetired != null and filterIsRetired !=  ''">
                AND e.emp_employment_status = #{filterIsRetired}
            </if>
        </where>
        <choose>
            <when test="sortColumn != null and sortColumn == 'emp-no'">
                ORDER BY e.emp_no
            </when>
            <when test="sortColumn != null and sortColumn == 'emp-name'">
                ORDER BY e.emp_name
            </when>
            <when test="sortColumn != null and sortColumn == 'title-name'">
                ORDER BY t.title_name
            </when>
            <when test="sortColumn != null and sortColumn == 'dept-name'">
                ORDER BY d.dept_name
            </when>
            <when test="sortColumn != null and sortColumn == 'employment-status'">
                ORDER BY e.emp_employment_status
            </when>
            <otherwise>
                ORDER BY e.emp_no
            </otherwise>
        </choose>
        <choose>
            <when test="sortOrder != null and sortOrder == 'desc'">
                DESC
            </when>
            <when test="sortOrder != null and sortOrder == 'asc'">
                ASC
            </when>
        </choose>
        LIMIT #{pageSize} OFFSET #{page}
    </select>

    <select id="getEmpTotal" resultType="int" parameterType="search">
        SELECT COUNT(e.emp_no)
        FROM employee e
        JOIN department d ON e.dept_no = d.dept_no
        JOIN title t ON e.title_no = t.title_no
        <where>
            <if test="filterForSearch != null and filterForSearch != ''">
                <choose>
                    <when test="filterForSearch == 'emp_no'">
                        e.emp_no LIKE CONCAT('%', #{searchText}, '%')
                    </when>
                    <when test="filterForSearch == 'emp_name'">
                        e.emp_name LIKE CONCAT('%', #{searchText}, '%')
                    </when>
                    <when test="filterForSearch == 'title_name'">
                        t.title_name LIKE CONCAT('%', #{searchText}, '%')
                    </when>
                    <when test="filterForSearch == 'dept_name'">
                        d.dept_name LIKE CONCAT('%', #{searchText}, '%')
                    </when>
                </choose>
            </if>
            <if test="filterIsRetired != null and filterIsRetired !=  ''">
                AND e.emp_employment_status = #{filterIsRetired}
            </if>
        </where>
    </select>

    <select id="getEmpDetail" resultType="emp">
        SELECT e.emp_no,
               e.emp_name,
               e.dept_no,
               e.title_no,
               e.emp_email,
               e.emp_hired_date,
               e.emp_retired_date,
               e.emp_add,
               e.emp_extension_number,
               e.emp_level,
               e.emp_employment_status,
               t.title_name,
               d.dept_name,
               v.vac_left,
               pp.profile_new
        FROM employee e
                 JOIN
             department d ON e.dept_no = d.dept_no
                 JOIN
             title t ON e.title_no = t.title_no
                 JOIN
             vacation v ON e.emp_no = v.emp_no
                 LEFT JOIN
             profile_photo pp ON e.emp_no = pp.emp_no
        WHERE e.emp_no = #{param1}
    </select>

    <update id="updateEmp" parameterType="emp">
        UPDATE employee
        SET dept_no   = #{dept_no},
            title_no  = #{title_no},
            emp_level = #{emp_level}
        WHERE emp_no = #{emp_no};
    </update>


    <update id="updateEmpRetried" parameterType="emp">
        UPDATE employee
        SET dept_no               = #{dept_no},
            title_no              = #{title_no},
            emp_level             = #{emp_level},
            emp_employment_status = 0,
            emp_retired_date      = CURDATE()
        WHERE emp_no = #{emp_no};
    </update>

    <select id="getVacList" resultType="emp" parameterType="search">
        SELECT e.emp_no,
        e.emp_name,
        TRUNCATE((DATEDIFF(CURDATE(), e.emp_hired_date) + 1) / 365, 0) AS work_year,
        v.vac_left,
        v.vac_add
        FROM employee e
        JOIN vacation v ON v.emp_no = e.emp_no
        <where>
            e.emp_employment_status = true
            <if test="filterForSearch != null and filterForSearch != ''">
                <choose>
                    <when test="filterForSearch == 'emp_no'">
                        AND e.emp_no LIKE CONCAT('%', #{searchText}, '%')
                    </when>
                    <when test="filterForSearch == 'emp_name'">
                        AND e.emp_name LIKE CONCAT('%', #{searchText}, '%')
                    </when>
                </choose>
            </if>
        </where>
        ORDER BY e.emp_no
        LIMIT #{pageSize} OFFSET #{page}
    </select>


    <select id="getVacTotal" resultType="int" parameterType="search">
        SELECT COUNT(e.emp_no)
        FROM employee e
        <where>
            e.emp_employment_status = true
            <if test="filterForSearch != null and filterForSearch != ''">
                <choose>
                    <when test="filterForSearch == 'emp_no'">
                        AND e.emp_no LIKE CONCAT('%', #{searchText}, '%')
                    </when>
                    <when test="filterForSearch == 'emp_name'">
                        AND e.emp_name LIKE CONCAT('%', #{searchText}, '%')
                    </when>
                </choose>
            </if>
        </where>
    </select>

    <select id="getNoOffsetEmpList" resultType="emp" parameterType="search">
        SELECT e.emp_no, e.emp_name, d.dept_name, d.dept_no
        FROM employee e
                 JOIN department d ON d.dept_no = e.dept_no
        WHERE e.emp_employment_status = 1
#           AND e.dept_no = #{dept_no}
    </select>
    
    
    <update id="addVac" parameterType="emp">
        UPDATE vacation
        SET vac_left = #{work_year} + 15,
            vac_add  = #{work_year} + 15
        WHERE emp_no = #{emp_no};
    </update>
    
    <update id="vacEditValue" parameterType="emp">
        UPDATE vacation
        SET vac_left = #{vac_left},
            vac_add  = vac_add +#{difference}
        WHERE emp_no = #{emp_no};
    </update>
    
    <select id="vacFinalList" resultType="emp" parameterType="search">
        SELECT 
   		va.vac_no, 
    	va.vac_apply_date, 
    	va.vac_type, 
    	va.vac_apply_status, 
    	va.vac_apply_status_final,
    	e.emp_name,
    	va.vac_reject_reason,
    	va.vac_reject_reason_final
		FROM 
    	vacation_apply va
		JOIN 
    	employee e ON va.emp_no = e.emp_no
		JOIN 
    	department d ON e.dept_no = d.dept_no
        <where>
        va.vac_apply_status = true
            <if test="filterVacDate != null and filterVacDate != ''">
            AND va.vac_apply_date = #{filterVacDate}
      	  	</if>
        	<if test="filterVacResult != null and filterVacResult != ''">
            <choose>
                <when test="filterVacResult == 'true'">
                    AND va.vac_apply_status_final = true
                </when>
                <when test="filterVacResult == 'false'">
                    AND va.vac_apply_status_final = false
                </when>
            </choose>
        </if>
        </where>
        ORDER BY va.vac_no DESC
        LIMIT #{pageSize} OFFSET #{page}
    </select>
    
    <select id="getVacFinalTotalPages" resultType="int" parameterType="search">
        SELECT 
   		COUNT(va.vac_no)
		FROM 
    	vacation_apply va
		JOIN 
    	employee e ON va.emp_no = e.emp_no
		JOIN 
    	department d ON e.dept_no = d.dept_no
         <where>
         va.vac_apply_status = true
           <if test="filterVacDate != null and filterVacDate != ''">
            AND va.vac_apply_date = #{filterVacDate}
        	</if>
        	<if test="filterVacResult != null and filterVacResult != ''">
            <choose>
                <when test="filterVacResult == 'true'">
                    AND va.vac_apply_status_final = true
                </when>
                <when test="filterVacResult == 'false'">
                    AND va.vac_apply_status_final = false
                </when>
            </choose>
        </if>
        </where>
        
    </select>
    
    <select id="vacApplyDetailFinal" resultType="emp">
    SELECT 
    d.dept_name, 
    t.title_name,
    e.emp_no,
    e.emp_name, 
    va.vac_type, 
    va.vac_use_date, 
    va.vac_use_end_date, 
    va.vac_reason, 
    va.vac_apply_date,
    va.vac_no,
    va.vac_apply_status,
    va.vac_apply_status_final,
    va.vac_reject_reason,
    va.vac_reject_reason_final
	FROM 
    vacation_apply va
	JOIN 
    employee e ON va.emp_no = e.emp_no
	JOIN 
    department d ON e.dept_no = d.dept_no
	JOIN 
    title t ON e.title_no = t.title_no
	WHERE 
    va.vac_no = #{vac_no}
    </select>
    
    
    <update id="vacFinalApproval" parameterType="emp">
   	 	UPDATE vacation_apply SET 
   	 	vac_apply_status_final = true
   	 	WHERE vac_no = #{vac_no}
    </update>
    
     <update id="vacFinalReject" parameterType="emp">
     	UPDATE vacation_apply SET 
   	 	vac_reject_reason_final = #{vac_reject_reason}
   	 	WHERE vac_no = #{vac_no}
    </update>
    
    <!-- 반차 삽입 -->
    <insert id="insertVacAtt" parameterType="emp">
        INSERT INTO attendance (emp_no, work_day, att_result)
        VALUES (#{emp_no}, #{vac_use_date}, #{vac_type})
    </insert>

    <!-- 연차 삽입 -->
    <insert id="insertVacAttFull" parameterType="emp">
        INSERT INTO attendance (emp_no, work_day, att_result)
        VALUES (#{emp_no}, #{new_work_day}, #{vac_type})
    </insert>
    
    <!-- 사용한 연차만큼 vac_left 업데이트 -->
    <update id="updateVac" parameterType="map">
        UPDATE vacation
        SET vac_left = vac_left - #{use}
        WHERE emp_no = #{emp_no}
    </update>
    
    
    <select id="getEmpDetailModal" resultType="emp">
    SELECT
    e.emp_no,
    e.emp_name,
    e.emp_email,
    e.emp_extension_number,
    t.title_name,
    d.dept_name,
    pp.profile_new
    FROM
    employee e
    JOIN
    department d ON e.dept_no = d.dept_no
    JOIN
    title t ON e.title_no = t.title_no
    JOIN
    vacation v ON e.emp_no = v.emp_no
    LEFT JOIN
    profile_photo pp ON e.emp_no = pp.emp_no
    WHERE
    e.emp_no = #{param1}
    </select>
    
    
    <select id="empList" resultType="emp" parameterType="search">
        SELECT e.emp_no, e.emp_name, t.title_name, d.dept_name
        FROM employee e
        JOIN department d ON e.dept_no = d.dept_no
        JOIN title t ON e.title_no = t.title_no
        <where>
        e.emp_employment_status = 1
            <if test="filterForSearch != null and filterForSearch != ''">
                <choose>
                    <when test="filterForSearch == 'emp_no'">
                        AND e.emp_no LIKE CONCAT('%', #{searchText}, '%')
                    </when>
                    <when test="filterForSearch == 'emp_name'">
                        AND e.emp_name LIKE CONCAT('%', #{searchText}, '%')
                    </when>
                    <when test="filterForSearch == 'title_name'">
                        AND t.title_name LIKE CONCAT('%', #{searchText}, '%')
                    </when>
                    <when test="filterForSearch == 'dept_name'">
                        AND d.dept_name LIKE CONCAT('%', #{searchText}, '%')
                    </when>
                </choose>
            </if>
        </where>
        <choose>
            <when test="sortColumn != null and sortColumn == 'emp-no'">
                ORDER BY e.emp_no
            </when>
            <when test="sortColumn != null and sortColumn == 'emp-name'">
                ORDER BY e.emp_name
            </when>
            <when test="sortColumn != null and sortColumn == 'title-name'">
                ORDER BY t.title_name
            </when>
            <when test="sortColumn != null and sortColumn == 'dept-name'">
                ORDER BY d.dept_name
            </when>
            <otherwise>
                ORDER BY e.emp_no
            </otherwise>
        </choose>
        <choose>
            <when test="sortOrder != null and sortOrder == 'desc'">
                DESC
            </when>
            <when test="sortOrder != null and sortOrder == 'asc'">
                ASC
            </when>
        </choose>
        LIMIT #{pageSize} OFFSET #{page}
    </select>
    
    
    <select id="getEmpTotalPagesForEmp" resultType="int" parameterType="search">
        SELECT COUNT(e.emp_no)
        FROM employee e
        JOIN department d ON e.dept_no = d.dept_no
        JOIN title t ON e.title_no = t.title_no
        <where>
        e.emp_employment_status = 1
            <if test="filterForSearch != null and filterForSearch != ''">
                <choose>
                    <when test="filterForSearch == 'emp_no'">
                        AND e.emp_no LIKE CONCAT('%', #{searchText}, '%')
                    </when>
                    <when test="filterForSearch == 'emp_name'">
                        AND e.emp_name LIKE CONCAT('%', #{searchText}, '%')
                    </when>
                    <when test="filterForSearch == 'title_name'">
                       AND t.title_name LIKE CONCAT('%', #{searchText}, '%')
                    </when>
                    <when test="filterForSearch == 'dept_name'">
                        AND d.dept_name LIKE CONCAT('%', #{searchText}, '%')
                    </when>
                </choose>
            </if>
        </where>
    </select>
    
    
    <select id="totalSalList" resultType="emp" parameterType="search">
        SELECT 
        e.emp_no,
        e.emp_name,
        t.title_name,
        d.dept_name,
        e.emp_employment_status,
        s.sal_total,
        CASE 
            WHEN s.sal_emp_no IS NOT NULL THEN TRUE
            ELSE FALSE
        END AS salwrite
    FROM 
        employee e
    LEFT JOIN 
        title t ON e.title_no = t.title_no
    LEFT JOIN 
        department d ON e.dept_no = d.dept_no
    LEFT JOIN 
        salary s ON e.emp_no = s.sal_emp_no
        <if test="filterSalMonth != null and filterSalMonth != ''">
            AND DATE_FORMAT(s.sal_register_date, '%Y-%m') = #{filterSalMonth}
        </if>
    <where>
        e.emp_employment_status = 1
        <if test="filterForSearch != null and filterForSearch != ''">
            <choose>
                <when test="filterForSearch == 'emp_no'">
                    AND e.emp_no LIKE CONCAT('%', #{searchText}, '%')
                </when>
                <when test="filterForSearch == 'emp_name'">
                    AND e.emp_name LIKE CONCAT('%', #{searchText}, '%')
                </when>
                <when test="filterForSearch == 'title_name'">
                    AND t.title_name LIKE CONCAT('%', #{searchText}, '%')
                </when>
                <when test="filterForSearch == 'dept_name'">
                    AND d.dept_name LIKE CONCAT('%', #{searchText}, '%')
                </when>
            </choose>
        </if>
        <if test="filterSalResult != null and filterSalResult !=  ''">
            AND (CASE WHEN s.sal_emp_no IS NOT NULL THEN TRUE ELSE FALSE END) = #{filterSalResult}
        </if>
    </where>
    LIMIT #{pageSize} OFFSET #{page}
    </select>
    
    
    
    <select id="getSalTotalPages" resultType="int" parameterType="search">
          SELECT 
            COUNT(e.emp_no)
        FROM 
        employee e
    LEFT JOIN 
        title t ON e.title_no = t.title_no
    LEFT JOIN 
        department d ON e.dept_no = d.dept_no
    LEFT JOIN 
        salary s ON e.emp_no = s.sal_emp_no
        <if test="filterSalMonth != null and filterSalMonth != ''">
            AND DATE_FORMAT(s.sal_register_date, '%Y-%m') = #{filterSalMonth}
        </if>
    <where>
        e.emp_employment_status = 1
        <if test="filterForSearch != null and filterForSearch != ''">
            <choose>
                <when test="filterForSearch == 'emp_no'">
                    AND e.emp_no LIKE CONCAT('%', #{searchText}, '%')
                </when>
                <when test="filterForSearch == 'emp_name'">
                    AND e.emp_name LIKE CONCAT('%', #{searchText}, '%')
                </when>
                <when test="filterForSearch == 'title_name'">
                    AND t.title_name LIKE CONCAT('%', #{searchText}, '%')
                </when>
                <when test="filterForSearch == 'dept_name'">
                    AND d.dept_name LIKE CONCAT('%', #{searchText}, '%')
                </when>
            </choose>
        </if>
        <if test="filterSalResult != null and filterSalResult !=  ''">
            AND (CASE WHEN s.sal_emp_no IS NOT NULL THEN TRUE ELSE FALSE END) = #{filterSalResult}
        </if>
    </where>
    </select>
    
    


</mapper>