<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.my.cab.dao.FinanceDAO">

	<!-- 수익 리스트 조회 쿼리 -->
	<select id="getProfitList" resultType="finance" parameterType="search">
    SELECT pro_who, pro_cash, pro_actual_date, pro_date, pro_category,
    pro_content, pro_cash
    FROM profit
    <where>
        <if test="category != null and category != ''">
            AND pro_category = #{category}
        </if>
        <if test="filterStartDate != null and filterEndDate != null and filterEndDate !='' and filterStartDate !=''">
            AND pro_actual_date BETWEEN #{filterStartDate} AND
            #{filterEndDate}
        </if>
        <if test="searchText != null and searchText != ''">
            AND pro_who LIKE CONCAT('%', #{searchText}, '%')
        </if>
    </where>
    <!-- 초기화면은 수익 발생일(pro_actual_date) 순으로 정렬 -->
    <choose>
        <when test="pro_filter == 'manyProfit'">
            ORDER BY pro_cash DESC
        </when>
        <when test="pro_filter == 'lessProfit">
            ORDER BY pro_cash ASC
        </when>
        <when test="pro_filter == 'orderByName'">
            ORDER BY pro_who ASC
        </when>
        <!-- 초기화면 이후에는 기본적으로 pro_actual_date DESC 정렬을 유지 -->
        <otherwise>
            ORDER BY pro_actual_date DESC
        </otherwise>
    </choose>
    LIMIT #{pageSize} OFFSET #{page}
	</select>


    <select id="getProfitCount" resultType="int" parameterType="search">
        SELECT COUNT(pro_idx)
        FROM profit
		<where>
			<if test="category != null and category != ''">
				AND pro_category = #{category}
			</if>
			<if test="filterStartDate != null and filterEndDate != null and filterEndDate !='' and filterStartDate !=''">
				AND pro_actual_date BETWEEN #{filterStartDate} AND
				#{filterEndDate}
			</if>
			<if test="searchText != null and searchText != ''">
				AND pro_who LIKE CONCAT('%', #{searchText}, '%')
			</if>
			</where>
    </select>
    
	<!-- 수익 등록 쿼리 -->
	<!-- 나중에 수정 필요 -->
	<insert id="addProfit" parameterType="finance">
		INSERT INTO profit
		(pro_trip_id, pro_category, pro_content, pro_who,
		pro_cash,
		pro_actual_date)
		VALUES (2, #{pro_category}, #{pro_content},
		#{pro_who}, #{pro_cash},
		#{pro_actual_date})
	</insert>

	<!-- 지출 리스트 조회 쿼리 -->
	<select id="getExpensesList" resultType="finance" parameterType="search">
    SELECT exp_sal_idx, exp_driver_salary_idx, exp_category, exp_date, exp_content,
    exp_who, exp_cash,exp_actual_date
    FROM expenses
    <where>
        <if test="category != null and category != ''">
            AND exp_category = #{category}
        </if>
        <if test="filterStartDate != null and filterEndDate != null and filterEndDate !='' and filterStartDate !=''">
            AND exp_actual_date BETWEEN #{filterStartDate} AND
            #{filterEndDate}
        </if>
        <if test="searchText != null and searchText != ''">
            AND exp_who LIKE CONCAT('%', #{searchText}, '%')
        </if>
    </where>
    <!-- 초기화면은 지출 발생일(exp_actual_date) 순으로 정렬 -->
    <choose>
        <when test="exp_filter == 'manyExpenses'">
            ORDER BY exp_cash DESC
        </when>
        <when test="exp_filter == 'manyExpenses'">
            ORDER BY exp_cash ASC
        </when>
        <when test="exp_filter == 'orderByName">
            ORDER BY exp_who ASC
        </when>
        <!-- 초기화면 이후에는 기본적으로 exp_actual_date DESC 정렬을 유지 -->
        <otherwise>
            ORDER BY exp_actual_date DESC
        </otherwise>
    </choose>
    LIMIT #{pageSize} OFFSET #{page}
	</select>

	<!-- 지출 등록 쿼리 -->
	<!-- 나중에 수정 필요 -->
	<insert id="addExpenses" parameterType="finance">
		INSERT INTO expenses
		(exp_driver_salary_idx,exp_sal_idx, exp_category, exp_content, exp_who,
		exp_cash,
		exp_actual_date)
		VALUES (0, 0,#{exp_category}, #{exp_content},
		#{exp_who}, #{exp_cash},
		#{exp_actual_date})
	</insert>
	
	
	<select id="getExpensesCount" resultType="int" parameterType="search">
        SELECT COUNT(exp_idx)
        FROM expenses
		<where>
        <if test="category != null and category != ''">
            AND exp_category = #{category}
        </if>
        <if test="filterStartDate != null and filterEndDate != null and filterEndDate !='' and filterStartDate !=''">
            AND exp_actual_date BETWEEN #{filterStartDate} AND
            #{filterEndDate}
        </if>
        <if test="searchText != null and searchText != ''">
            AND exp_who LIKE CONCAT('%', #{searchText}, '%')
        </if>
    </where>
    </select>
	
</mapper>