<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.my.cab.dao.LoginDAO">

	 <select id="pwfind" resultType="String">
        SELECT emp_password
        FROM employee
        WHERE emp_no = #{emp_no}
    </select>

    <!-- 최초 로그인 여부를 확인하는 쿼리 -->
    <select id="firstLogin" resultType="boolean">
        SELECT first_login
        FROM employee
        WHERE emp_no = #{emp_no}
    </select>

    <!-- 출근 시간을 추가하는 쿼리 -->
    <insert id="addAtt" >
      	INSERT INTO attendance (emp_no, att_time, work_day)
		SELECT #{emp_no}, NOW(), CURDATE()
		FROM DUAL
   		WHERE NOT EXISTS (
        SELECT 1
        FROM attendance
        WHERE emp_no = #{emp_no}
		AND DATE(work_day) = CURDATE()
    )
    </insert>

	<update id="pwFirstChange">
	UPDATE employee
	SET
	emp_password = #{password},
	first_login = false
	WHERE
	emp_no = #{emp_no}
	</update>
    
    
    <!-- 퇴근 시간을 추가하는 쿼리 -->
    <insert id="addGetOff" >
        UPDATE attendance
   		SET leave_time = NOW()
    	WHERE emp_no = #{emp_no}
    	AND DATE(work_day) = CURDATE()
    	AND leave_time IS NULL;
    </insert>


</mapper>