<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.my.cab.dao.MyPageDAO">

<!-- @Alias(value="myPage") -->
 <select id="getEmpDetail" resultType="myPage">
	SELECT
	e.emp_no,
	e.emp_name,
	e.dept_no,
	e.title_no,
	e.emp_email,
	e.emp_hired_date,
	e.emp_add,
	e.emp_extension_number,
	e.emp_level,
	t.title_name,
	d.dept_name,
	pp.profile_new
	FROM
	employee e
	JOIN
	department d ON e.dept_no = d.dept_no
	JOIN
	title t ON e.title_no = t.title_no
	JOIN
	vacation v ON e.emp_no = v.emp_no
	LEFT JOIN
	profile_photo pp ON e.emp_no = pp.emp_no
	WHERE
	e.emp_no = #{param1}
    </select>
    
    
    <select id="pwFind" resultType="String">
        SELECT emp_password
        FROM employee
        WHERE emp_no = #{emp_no}
    </select>

	<select id="overlay" resultType="int">
		select count(emp_email) from employee where emp_email = #{param1}
   </select>
   
   
    <!-- 기존 프로필 파일명을 가져오는 쿼리 -->
    <select id="getProfileByEmpNo" resultType="String">
        SELECT profile_new
        FROM profile_photo
        WHERE emp_no = #{emp_no}
    </select>
    
     <!-- 기존 프로필을 삭제하는 쿼리 -->
    <delete id="deleteProfile">
        DELETE FROM profile_photo
        WHERE emp_no = #{emp_no}
    </delete>
    
    
     <!-- 새 프로필 파일명을 저장하는 쿼리 -->
    <insert id="saveProfile">
        INSERT INTO profile_photo (emp_no, profile_ori, profile_new)
        VALUES (#{emp_no}, #{originalFileName}, #{fileName})
    </insert>
    
    <!--  프로필 수정 쿼리 -->
    <update id="profileUpdate" parameterType="myPage">
        UPDATE employee
        <set>
            <if test="emp_email != null and emp_email != ''">
                emp_email = #{emp_email},
            </if>
            <if test="emp_add != null and emp_add != ''">
                emp_add = #{emp_add},
            </if>
            <if test="emp_extension_number != null and emp_extension_number != ''">
                emp_extension_number = #{emp_extension_number},
            </if>
            <if test="emp_password != null and emp_password != ''">
                emp_password = #{emp_password},
            </if>
        </set>
        WHERE emp_no = #{emp_no}
    </update>
    
    <select id="myVacList" resultType="myPage">
    SELECT e.emp_name, d.dept_name, t.title_name, v.vac_left
	FROM employee e
	JOIN department d ON e.dept_no = d.dept_no
	JOIN title t ON e.title_no = t.title_no 
	JOIN vacation v ON e.emp_no = v.emp_no 
	WHERE e.emp_no = #{emp_no}
    </select>
    
    
    <insert id="vacApply" parameterType="myPage">
        INSERT INTO vacation_apply (
        emp_no,
        vac_use,
        vac_type,
        vac_reason,
        vac_use_date
        <if test="vac_use_end_date != null and vac_use_end_date != ''">
            , vac_use_end_date
        </if>
    	) VALUES (
        #{emp_no},
        #{vac_use},
        #{vac_type},
        #{vac_reason},
        #{vac_use_date}
        <if test="vac_use_end_date != null and vac_use_end_date != ''">
            , #{vac_use_end_date}
        </if>
    )
    </insert>
    
    <select id="myVacApplyList" resultType="myPage" parameterType="search">
        SELECT va.vac_no, va.vac_apply_date, va.vac_type, va.vac_apply_status, va.vac_apply_status_final
        FROM vacation_apply va
        <where>
        	va.emp_no = #{emp_no}
            <if test="filterVacDate != null and filterVacDate != ''">
            AND va.vac_apply_date = #{filterVacDate}
        </if>
        <if test="filterVacResult != null and filterVacResult != ''">
            <choose>
                <when test="filterVacResult == 'true'">
                    AND va.vac_apply_status_final = true
                </when>
                <when test="filterVacResult == 'false'">
                    AND va.vac_apply_status_final = false
                </when>
            </choose>
        </if>
        </where>
        LIMIT #{pageSize} OFFSET #{page}
    </select>
    
    <select id="getVacApplyTotal" resultType="int" parameterType="search">
        SELECT COUNT(va.vac_no)
        FROM vacation_apply va
         <where>
        	va.emp_no = #{emp_no}
            <if test="filterVacDate != null and filterVacDate != ''">
            AND va.vac_apply_date = #{filterVacDate}
        </if>
        <if test="filterVacResult != null and filterVacResult != ''">
            <choose>
                <when test="filterVacResult == 'true'">
                    AND va.vac_apply_status_final = true
                </when>
                <when test="filterVacResult == 'false'">
                    AND va.vac_apply_status_final = false
                </when>
            </choose>
        </if>
        </where>
    </select>
    
    


</mapper>