<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.my.cab.dao.NoticeDAO">

	<!-- 공지사항 등록 쿼리 -->
    <insert id="insertNotice" parameterType="notice">
        INSERT INTO notice (notice_writer, notice_field, notice_imp, notice_stat, notice_title, notice_content)
        VALUES (#{notice_writer}, #{notice_field}, #{notice_imp}, #{notice_stat}, #{notice_title}, #{notice_content})
    </insert>

    <!-- 첨부 파일 등록 쿼리 -->
    <insert id="insertAttachment" parameterType="notice">
        INSERT INTO notice_attach_file (notice_idx, notice_file_name, notice_attach_file)
        VALUES (#{notice_idx}, #{notice_file_name}, #{notice_attach_file})
    </insert>


</mapper>