<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.my.cab.dao.ResourceDAO">
	<insert id="resourceWrite"
		useGeneratedKeys="true"
		keyColumn="resource_idx"
		keyProperty="resource_idx"
	>
		INSERT INTO resource_management (resource_name,resource_category,resource_management_emp_no,resource_state,resource_content,resource_Location)
		VALUES (#{resource_name},#{resource_category},#{id},#{resource_state},#{resource_content},#{resource_location})
	</insert>
	
	<insert id="resourceWriteMeetRomm" parameterType="map">
		INSERT INTO resource_meeting_room (meeting_room_resource_idx,meeting_room_capacity)
		VALUES (#{idx},#{meeting_room_capacity})
	</insert>
	
	<insert id="resourceWriteCar" parameterType="map">
		INSERT INTO resource_company_car (
			company_car_resource_idx,
			company_car_category,
			company_car_license_plate,
			company_car_capacity
			)
		VALUES (#{idx},#{company_car_category},#{company_car_license_plate},#{company_car_capacity})
	</insert>
	
	<insert id="resourceWriteEquip" parameterType="map">
		INSERT INTO equipment (resource_equipment_idx,resource_equipment_category)
		VALUES (#{idx},#{resource_equipment_category})
	</insert>
	
	<insert id="saveResPhoto">
		INSERT INTO resource_photo (ori_file_name, new_file_name,res_management_idx)
		VALUES (#{param2},#{param3},#{param1})
	</insert>
	
	<select id="getResMrList" parameterType="map" resultType="resourceDTO">
		SELECT *
		FROM resource_management r 	
		INNER JOIN resource_meeting_room rmr on rmr.meeting_room_resource_idx  = r.resource_idx
		left join resource_reservation rr ON  r.resource_idx  = rr.resource_idx 
		left join resource_photo rp  on r.resource_idx = rp.res_management_idx 
		WHERE r.resource_category = '회의실' 
		 	AND r.resoruce_del = false
		<![CDATA[
			AND	(rr.resource_idx IS NULL OR NOT EXISTS (
		    SELECT 1 
		    FROM resource_reservation rr2 
		    WHERE rr2.resource_reserve_start_date < #{resSearchEndTime}
		    AND rr2.resource_reserve_end_date > #{resSearchStartTime}
		    AND rr2.resource_reserve_del = '0'
		))
			]]>
		<if test='resOption != ""'>
			<![CDATA[
				AND rmr.meeting_room_capacity >= #{resOption}
			]]>
		</if>
		group by r.resource_idx ORDER BY r.resource_idx DESC LIMIT	#{start},#{pagePerCnt}		
	</select>
	
	<select id="getResMrListPageCount" parameterType="map" resultType="int">
		SELECT CEIL(COUNT(DISTINCT r.resource_idx) / 5) AS pases
		FROM resource_management r 	
		INNER JOIN resource_meeting_room rmr on rmr.meeting_room_resource_idx  = r.resource_idx
		left join resource_reservation rr ON  r.resource_idx  = rr.resource_idx 
		WHERE r.resource_category = '회의실'
			AND r.resoruce_del = false
		<![CDATA[
			AND	(rr.resource_idx IS NULL OR NOT EXISTS (
		    SELECT 1 
		    FROM resource_reservation rr2 
		    WHERE rr2.resource_reserve_start_date < #{resSearchEndTime}
		    AND rr2.resource_reserve_end_date > #{resSearchStartTime}
		    AND rr2.resource_reserve_del = '0'
			))
		]]>
		<if test='resOption != ""'>
			<![CDATA[
				AND rmr.meeting_room_capacity >= #{resOption}
			]]>
		</if>
	</select>
	
	<select id="getResCarList" parameterType="map" resultType="resourceDTO">
		SELECT *
		FROM resource_management r 	
		INNER JOIN resource_company_car rcc on rcc.company_car_resource_idx  = r.resource_idx
		left join resource_reservation rr ON  r.resource_idx  = rr.resource_idx 
		left join resource_photo rp  on r.resource_idx = rp.res_management_idx 
		WHERE r.resource_category = '차량'
			AND r.resoruce_del = false 
		<![CDATA[
			AND	(rr.resource_idx IS NULL OR NOT EXISTS (
		    SELECT 1 
		    FROM resource_reservation rr2 
		    WHERE rr2.resource_reserve_start_date < #{resSearchEndTime}
		    AND rr2.resource_reserve_end_date > #{resSearchStartTime}
		    AND rr2.resource_reserve_del = '0'
			))
		]]>
		<if test='resOption != ""'>
			<![CDATA[
				AND rcc.company_car_category = #{resOption}
			]]>
		</if>
		group by r.resource_idx ORDER BY r.resource_idx DESC LIMIT	#{start},#{pagePerCnt}	
	</select>
	
	<select id="getResCarListPageCount" parameterType="map" resultType="int">
		SELECT CEIL(COUNT(DISTINCT r.resource_idx) / 5) AS pases
		FROM resource_management r 	
		INNER JOIN resource_company_car rcc on rcc.company_car_resource_idx  = r.resource_idx
		left join resource_reservation rr ON  r.resource_idx  = rr.resource_idx 
		WHERE r.resource_category = '차량'
			AND r.resoruce_del = false
		<![CDATA[
			AND	(rr.resource_idx IS NULL OR NOT EXISTS (
		    SELECT 1 
		    FROM resource_reservation rr2 
		    WHERE rr2.resource_reserve_start_date < #{resSearchEndTime}
		    AND rr2.resource_reserve_end_date > #{resSearchStartTime}
		    AND rr2.resource_reserve_del = '0'
			))
		]]>
		<if test='resOption != ""'>
			<![CDATA[
				AND rcc.company_car_capacity >= #{resOption}
			]]>
		</if>
	</select>
	
	<select id="getResEqList" parameterType="map" resultType="resourceDTO">
		SELECT *
		FROM resource_management r 	
		INNER JOIN equipment e2  on  e2.resource_equipment_idx  = r.resource_idx
		left join resource_reservation rr ON  r.resource_idx  = rr.resource_idx 
		left join resource_photo rp  on r.resource_idx = rp.res_management_idx 
		WHERE r.resource_category = '비품'
			AND r.resoruce_del = false
		<![CDATA[
			AND	(rr.resource_idx IS NULL OR NOT EXISTS (
		    SELECT 1 
		    FROM resource_reservation rr2 
		    WHERE rr2.resource_reserve_start_date < #{resSearchEndTime}
		    AND rr2.resource_reserve_end_date > #{resSearchStartTime}
		    AND rr2.resource_reserve_del = '0'
			))
		]]>
		<if test='resOption != ""'>
				AND e2.resource_equipment_category = #{resOption}
		</if>
		group by r.resource_idx ORDER BY r.resource_idx DESC LIMIT	#{start},#{pagePerCnt}
	</select>
	
	<select id="getResEqListPageCount" parameterType="map" resultType="int">
		SELECT CEIL(COUNT(DISTINCT r.resource_idx) / 5) AS pases
		FROM resource_management r 	
		INNER JOIN equipment e2  on  e2.resource_equipment_idx  = r.resource_idx
		left join resource_reservation rr ON  r.resource_idx  = rr.resource_idx 
		WHERE r.resource_category = '비품'
			AND r.resoruce_del = false
		<![CDATA[
			AND	(rr.resource_idx IS NULL OR NOT EXISTS (
		    SELECT 1 
		    FROM resource_reservation rr2 
		    WHERE rr2.resource_reserve_start_date < #{resSearchEndTime}
		    AND rr2.resource_reserve_end_date > #{resSearchStartTime}
		    AND rr2.resource_reserve_del = '0'
			))
		]]>
		<if test='resOption != ""'>
				AND e2.resource_equipment_category = #{resOption}
		</if>
	</select>
	
	<select id="getReservationCategory">
		SELECT resource_category FROM resource_management WHERE resource_idx = #{param1}
	</select>
	
	<select id="getReservationMrInfo" resultType="resourceDTO">
		SELECT * FROM resource_management rm
		INNER JOIN  resource_meeting_room mr on rm.resource_idx = mr.meeting_room_resource_idx 
		WHERE resource_idx = #{param1}
	</select>
	
	<select id="getReservationCarInfo" resultType="resourceDTO">
		SELECT * FROM resource_management rm
		INNER JOIN  resource_company_car rcc on rm.resource_idx = rcc.company_car_resource_idx 
		WHERE resource_idx = #{param1}
	</select>
	
	<select id="getReservationEqInfo" resultType="resourceDTO">
		SELECT * FROM resource_management rm
		INNER JOIN  equipment e  on rm.resource_idx = e.resource_equipment_idx
		WHERE resource_idx = #{param1}
	</select>
	
	
	
	<select id="getReservationDate" resultType="resourceDTO">
		SELECT * FROM resource_reservation WHERE resource_idx = #{param1}
	</select>
	
	<insert id="createReservation" parameterType="map">
				INSERT INTO resource_reservation (resource_idx,resource_reservation_emp_no,
				resource_category,dept_category,resource_reserve_content,
				resource_reserve_start_date,resource_reserve_end_date)
				VALUES
		<foreach collection="rsvStartDate" item="startDate" separator=",">
				 (
					#{resIdx},
					#{resEmpId},
					#{resCategory},
					#{deptCategory},
					#{rsvContent},
					#{startDate},
					DATE_ADD(#{startDate}, INTERVAL 59 MINUTE)
					)
		</foreach>
	</insert>
	
	<select id="getDeptName" resultType="String">
		select d.dept_name from department d INNER JOIN employee e ON e.dept_no =d.dept_no WHERE e.emp_no =#{param1}
	</select>
	
	<select id="rsvList" resultType="resourceDTO">
		SELECT * FROM resource_reservation WHERE resource_reserve_del = '0' AND resource_idx = #{param1}
	</select>
	
	<select id="getSelectRsvDate" resultType="resourceDTO">
		SELECT * FROM resource_reservation WHERE resource_reserve_del = '0' AND resource_idx = #{param1} AND resource_reserve_start_date LIKE CONCAT('%', #{param2}, '%')
	</select>
	
	<select id="getPhotoName">
		SELECT new_file_name FROM resource_photo WHERE res_management_idx = #{param1}
	</select>
	
	<select id="myReservationList" resultType="resourceDTO" parameterType="map">
		SELECT * FROM resource_reservation rr 
		LEFT JOIN resource_management rm ON  rr.resource_idx = rm.resource_idx
		left join resource_photo rp  on rr.resource_idx = rp.res_management_idx  
		WHERE rr.resource_reservation_emp_no = #{empNo}
		AND (rr.resource_idx IS NULL OR NOT EXISTS (
	        SELECT 1 
	        FROM resource_reservation rr2 
	        WHERE rr2.resource_reserve_del = 1
	    ))
	   	<if test="resSerachCategory != ''">
	    	 and rm.resource_category =#{resSerachCategory}
	    </if>
		group by rr.resource_idx ORDER BY rr.resource_idx DESC LIMIT #{start},#{pagePerCnt}
	</select>
	
	<select id="getmyReservationListPage" parameterType="map" resultType="int">
		SELECT CEIL(COUNT(DISTINCT rr.resource_idx) / 5) AS pases
		FROM resource_reservation rr 
		LEFT JOIN resource_management rm ON  rr.resource_idx = rm.resource_idx 
		WHERE resource_reservation_emp_no = #{empNo}
		AND (rr.resource_idx IS NULL OR NOT EXISTS (
	        SELECT 1 
	        FROM resource_reservation rr2 
	        WHERE rr2.resource_reserve_del = 1
	    ))
	    <if test="resSerachCategory != ''">
	    	 and rm.resource_category =#{resSerachCategory}
	    </if>
	</select>
</mapper>