<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<!DOCTYPE mapper PUBLIC    "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
        >

<mapper namespace="com.my.cab.dao.TaxiDAO">

    <select id="getTaxiList" resultType="taxi" parameterType="search">
        SELECT taxi_license_plate, taxi_model, taxi_registration_date, taxi_is_active, taxi_idx
        FROM taxi
        <where>
            <if test="searchText != null and searchText != ''">
                taxi_license_plate LIKE CONCAT('%', #{searchText}, '%')
            </if>
            <if test="filterTaxiModel != null and filterTaxiModel !=  ''">
                AND taxi_model = #{filterTaxiModel}
            </if>
            <if test="filterIsActive != null and filterIsActive !=  ''">
                AND taxi_is_active = #{filterIsActive}
            </if>
            <if test="filterStartDate != null and filterStartDate !=  '' and filterEndDate != null and filterEndDate !=  ''">
                AND taxi_registration_date BETWEEN #{filterStartDate} AND #{filterEndDate}
            </if>
        </where>
            <choose>
                <when test="sortColumn != null and sortColumn == 'taxi-license-plate'">
                    ORDER BY taxi_license_plate
                </when>
                <when test="sortColumn != null and sortColumn == 'taxi-model'">
                    ORDER BY taxi_model
                </when>
                <when test="sortColumn != null and sortColumn == 'taxi-reg-date'">
                    ORDER BY taxi_registration_date
                </when>
                <when test="sortColumn != null and sortColumn == 'taxi-fuel-type'">
                    ORDER BY taxi_fuel_type
                </when>
                <otherwise>
                    ORDER BY taxi_idx
                </otherwise>
            </choose>
            <choose>
                <when test="sortOrder != null and sortOrder == 'desc'">
                    DESC
                </when>
                <when test="sortOrder != null and sortOrder == 'asc'">
                    ASC
                </when>
            </choose>
        LIMIT #{pageSize} OFFSET #{page}
    </select>

    <select id="getTaxiCount" resultType="int" parameterType="search">
        SELECT COUNT(taxi_idx)
        FROM taxi
        <where>
            <if test="searchText != null and searchText != ''">
                taxi_license_plate LIKE CONCAT('%', #{searchText}, '%')
            </if>
            <if test="filterTaxiModel != null and filterTaxiModel !=  ''">
                AND taxi_model = #{filterTaxiModel}
            </if>
            <if test="filterIsActive != null and filterIsActive !=  ''">
                AND taxi_is_active = #{filterIsActive}
            </if>
            <if test="filterStartDate != null and filterStartDate !=  '' and filterEndDate != null and filterEndDate !=  ''">
                AND taxi_registration_date BETWEEN #{filterStartDate} AND #{filterEndDate}
            </if>
        </where>
    </select>

    <select id="getTaxiRegFirstDate" resultType="String">
        SELECT taxi_registration_date
        FROM taxi
        ORDER BY taxi_registration_date ASC
        LIMIT 1
    </select>

    <insert id="registerTaxi" parameterType="taxi">
        INSERT INTO taxi(taxi_license_plate, taxi_model, taxi_fuel_type, taxi_is_active, taxi_year)
        VALUES (#{taxi_license_plate}, #{taxi_model}, #{taxi_fuel_type}, 1, #{taxi_year})
    </insert>

    <select id="getTaxiModelList" resultType="String">
        SELECT taxi_model
        FROM taxi
        GROUP BY taxi_model
        ORDER BY taxi_model
    </select>

    <select id="checkTaxiLicensePlateExists" resultType="boolean">
        SELECT CASE
                   WHEN EXISTS (SELECT 1
                                FROM taxi
                                WHERE taxi_license_plate LIKE CONCAT('%', #{param1}, '%'))
                       THEN 1
                   ELSE 0
                   END AS isExists
    </select>

    <select id="getTaxiInfo" resultType="taxi">
        SELECT
            taxi_license_plate
            , taxi_model
            , taxi_fuel_type
            , taxi_is_active
            , taxi_registration_date
            , taxi_year
            , taxi_scrap_car_date
            , taxi_scrap_car_reason
        FROM taxi
        WHERE taxi_idx = #{param1}
    </select>

    <update id="updateTaxiInfo" parameterType="taxi">
        UPDATE taxi
        SET
            taxi_license_plate = #{taxi_license_plate}
            , taxi_model = #{taxi_model}
            , taxi_fuel_type = #{taxi_fuel_type}
            , taxi_year = #{taxi_year}
        WHERE taxi_idx = #{taxi_idx}
    </update>



</mapper>